.appContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #f3f4f6;
    font-family: 'Outfit', sans-serif;
    /* Example font */
}

/* Add any global app styles here localized to the app container if needed */